.login {
  width: 330px;
  min-height: 360px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* gap: 30px; */
}

.login__logo-link {
  width: 30px;
  height: 30px;
  background-image: url("../../images/logoMain.png");
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 50%;
  margin: 10px 0;
}

.login__title {
  margin-bottom: 30px;
  font-size: 20px;
}

.login__form {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  width: 100%;
}

/* TODO сделать чтобы типа placeholder выкатывался вверх, где label */
.login__form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.login__label {
  font-size: 13px;
  color: #374151;
  margin-left: 5px;
}

.login__input {
  padding: 8px 10px;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #d1d5dbb9;
}

.login__button {
  margin: 10px 0 0;
  background-color: #1f2937;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 15px;
}

.login__text {
  font-size: 13px;
  color: #374151;
  text-align: center;
  margin: 25px 0 30px;
}

.login__link {
  text-decoration: none;
  margin-left: 5px;
}

.login__register {
  width: 100%;
  padding-top: 15px;
  font-size: 13px;
  color: #374151;
  text-align: center;
  margin: 0 0 15px;
  border-top: 1px solid rgba(55, 65, 81, 0.2);
}
